---
import 'photoswipe/style.css';

import { getI18N } from '../i18n';
const {currentLocale} = Astro
const i18n = getI18N({currentLocale})
---

<section id="certificates" class="mt-[6rem]">
    <div class="container">
        <h2 class="text-[1.5rem] text-center mb-[1rem]">{i18n.CERTIFICATES_TITLE}</h2>
        <div class="flex flex-col md:flex-row gap-[1rem]">
            <div class="flex-grow-[1] flex flex-col justify-center gap-[1rem]">
                <article data-image="/portfolio/feria_ciencia_tecnologia.jpg" class="certificate-item p-[.5rem] border border-[#30363d] rounded-[.5rem]">
                    <h3 class="uppercase font-bold mb-[.5rem] text-primary">{i18n.CERTIFICATES_1_TITLE}</h3>
                    <p class="text-[#fffb]">{i18n.CERTIFICATES_1_DESCRIPTION}</p>
                    <time class="text-[#fffb]" datetime="2022">2022</time>
                </article>
                <article data-image="/portfolio/hackathon_nicaragua.jpg" class="certificate-item p-[.5rem] border border-[#30363d] rounded-[.5rem]">
                    <h3 class="uppercase font-bold mb-[.5rem] text-primary">{i18n.CERTIFICATES_2_TITLE}</h3>
                    <p class="text-[#fffb]">Hackathon Nicaragua</p>
                    <time class="text-[#fffb]" datetime="2023">2023</time>
                </article>
                <article data-image="/portfolio/certificado_cs50.jpg" class="certificate-item is-active p-[.5rem] border border-[#30363d] rounded-[.5rem]">
                    <h3 class="uppercase font-bold mb-[.5rem] text-primary">{i18n.CERTIFICATES_3_TITLE}</h3>
                    <p class="text-[#fffb]">{i18n.CERTIFICATES_3_DESCRIPTION}</p>
                    <time class="text-[#fffb]" datetime="2024">2024</time>
                </article>
            </div>
            <div class="flex-grow-[1] bg-[#0d1117] rounded-[.5rem] p-[1rem]">
                <div id="gallery" class="max-w-[25rem] m-auto">
                    <a 
                    class="certificate" 
                    href="/portfolio/certificado_cs50.jpg"
                    data-pswp-width="800" 
                    data-pswp-height="600" 
                    target="_blank"
                    >
                        <img class="certificate-img" src="/portfolio/certificado_cs50.jpg" alt="Certificado CS50">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    const arts = document.getElementsByClassName('certificate-item')
    const certificate = document.getElementsByClassName('certificate')[0] as HTMLAnchorElement
    const image = document.getElementsByClassName('certificate-img')[0] as HTMLImageElement

    Array.from(arts).forEach(art =>{
        art.addEventListener('mouseenter', ()=>{
            Array.from(arts).forEach(artItem => artItem.classList.remove('is-active'))
            art.classList.add('is-active')
            certificate.href = art.getAttribute('data-image') as string
            image.src = art.getAttribute('data-image') as string
        })
    })

    // PHOTOSWIPE
    import PhotoSwipeLightbox from 'photoswipe/lightbox';

    const lightbox = new PhotoSwipeLightbox({
    gallery: '#gallery',
    children: 'a',
    pswpModule: () => import('photoswipe')
    });
    lightbox.init();
</script>

<style>
    .certificate-item{
        transition: .5s;
    }

    .is-active{
        border: 1px solid #14d4c9;
        box-shadow: 0 4px 6px rgba(20, 212, 201, 0.25);
        transform: scale(1.01);
    }
</style>