---
import ProjectCard from '../components/ProjectCard.astro';
import data from './../tags.json'

const LANGUAGES = data.LANGUAGES
const FRONTEND = data.FRONTEND
const BACKEND = data.BACKEND
const TOOLS = data.TOOLS

import { getI18N } from '../i18n';
const {currentLocale} = Astro
const i18n = getI18N({currentLocale})
---

<section id="projects" class="container">
    <h2 class="mt-[6rem] mb-[1rem] text-[1.5rem] text-center">{i18n.PROJECTS_TITLE}</h2>
    <div class="grid grid-cols-[repeat(auto-fill,_minmax(23rem,_1fr))] gap-[1rem]">
        <ProjectCard
            image="/noxbrew-web.jpg"
            title="Noxbrew"
            description={i18n.PROJECTS_NOXBREW_DESCRIPTION}
            url='https://noxbrew.vercel.app/'
            githubFrontend='https://github.com/reduhq/NOXBREW'
            githubBackend='https://github.com/reduhq/NOXBREW-API'
            tags={[FRONTEND.NEXT, FRONTEND.REACT, BACKEND.EXPRESS, LANGUAGES.TYPESCRIPT, BACKEND.PRISMA, BACKEND.POSTGRE]}
        />
        <ProjectCard
            image="/book_store_api.png"
            title="BookStore API"
            description={i18n.PROJECTS_BOOKSTORE_DESCRIPTION}
            githubBackend='https://github.com/reduhq/BookStoreAPI'
            tags={[LANGUAGES.PYTHON, BACKEND.FASTAPI, BACKEND.POSTGRE, BACKEND.SQLALCHEMY, TOOLS.DOCKER, BACKEND.JWT]}
        />
    </div>
</section>

